* {
	box-sizing: border-box;
}

body {
	text-align: center;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
	height: 100vh;
	width: 100vw;
	max-width: 100%;
}

nav {
	width: 100%;
	height: fit-content;
	padding: 15px 20px;
	background-color: #cba563;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 0 8px #cba563;
	position: fixed;
	top: 0;
	z-index: 1;
}

nav.dark {
	box-shadow: 0 0 8px #866a39;
}

.nav-logo > img {
	height: 30px;
}

.nav-logo {
	cursor: default;
	display: flex;
}

.toggler-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.toggler {
	color: white;
	font-size: 2rem;
	border: none;
	background-color: transparent;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

.toggler > .bx {
	vertical-align: middle;
}

.toggler-text {
	font-size: 1rem;
	color: rgba(255, 255, 255, 0.6);
	cursor: default;
	transition: ease 0.2s;
}

.dark .toggler-text {
	color: rgba(255, 255, 255);
}

.light.toggler-text {
	color: rgb(255, 255, 255);
}

.dark .light.toggler-text {
	color: rgba(255, 255, 255, 0.6);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 100%;
	background-color: #F5F5F5;
	margin: 0;
	margin-top: 35px;
	overflow: auto;
}

main.dark {
	background-color: #242424;
}

.btns-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 50px 10px 10px 10px;
}

.new-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 1.5rem;
	margin: 0;
	display: flex;
	align-items: center;
	color: rgba(54, 54, 54, 0.7);
	transition: ease 0.3s;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

.new-btn:hover {
	color: #242424;
}

.dark .new-btn {
	color: rgba(245, 245, 245, 0.7)
}

.dark .new-btn:hover {
	color: rgba(245, 245, 245, 1)
}

.new-btn > h4 {
	margin: 0;
}

.visible-btn-container {
	display: flex;
}

.visible-btn {
	font-size: 1.2rem;
	margin: 0 11px 0 0;
	padding: 3px 12px;
	border: 3px solid rgb(54, 54, 54);
	border-radius: 15px;
	cursor: pointer;
	color: rgba(54, 54, 54, 0.9);
	background-color: #F5F5F5;
	transition: ease 0.3s;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

.dark .visible-btn {
	border: 3px solid transparent;
	color: #242424;
	background-color: rgba(245, 245, 245, 0.7);
}

.visible-btn:hover {
	background-color: rgba(54, 54, 54, 0.75);
	border: 3px solid transparent;
	color: rgba(255, 255, 255, 0.9);
}

.visible-btn.active {
	background-color: rgb(54, 54, 54);
	color: rgba(255, 255, 255, 0.9);
}

.dark .visible-btn:hover {
	background-color: rgba(54, 54, 54, 0.75);
	border: 3px solid transparent;
	color: rgba(255, 255, 255, 0.9);
}

.dark .visible-btn.active {
	background-color: #0b0b0b;
	border: 3px solid transparent;
	color: rgba(255, 255, 255, 0.9);
}


.empty-album {
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: 0.4rem;
	padding: 7px;
	width: fit-content;
	margin: 5% 20px;
	margin-top: 10%;
	border-bottom: 4px solid #cba563;
	color: #242424;
}

.dark .empty-album {
	color: #F5F5F5;
}


.container {
	width: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
}

/* Card */ 
.cards-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 100%;
	row-gap: 30px;
	column-gap: 10px;
	padding: 30px 10px;
	background-color: #f5f5f5;
}

.dark .cards-container {
	background-color: #242424;
}

.card {
	padding: 20px 20px;
	border: none;
	border-radius: 10px;
	width: 400px;
	max-height: 600px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
	color: black;
	transition: ease-in-out 0.3s;
	display: flex;
	flex-direction: column;
}

.card:hover {
	transform: translate(0, -5px);
}


.dark .card {
	border: none;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	background-color: #363636;
	color: #fefefe;
}

.card-img {
	margin: 0;
	margin-bottom: 10px;
	max-width: 100%;
	height: auto;
	max-height: 400px;
	border-radius: 10px;
}


.card-title {
	margin: 0;
	margin-bottom: 5px;
	font-size: 1.8rem;
  	overflow-wrap: break-word;
}

.counter {
    display: flex;
    font-size: 0.7rem;
    width: 100%;
    justify-content: flex-end;
}

.card-description {
	margin: 5px 0;
	font-size: 1rem;
	overflow-wrap: break-word;
	overflow-y: auto;
}


.card-description::-webkit-scrollbar {
    width: 8px;
    
}

.card-description::-webkit-scrollbar-track {
    margin-top: 5px;
    margin-bottom: 5px;
    background: rgba(12, 16, 25, 0.2);
    border-radius: 5px;
    border: 2px solid #fefefe;
}

.card-description::-webkit-scrollbar-thumb {
    background: rgba(29, 31, 36, 0.9);
    border-radius: 5px;
    border: 2px solid #fefefe;
}

.card-description::-webkit-scrollbar-thumb:hover {
    background: rgb(19, 20, 23);
}

.dark .card-description::-webkit-scrollbar-track {
    background: rgba(12, 16, 25, 0.5);
    border: 2px solid #363636;
}

.dark .card-description::-webkit-scrollbar-thumb {
    background: rgb(19, 20, 23);
    border: 2px solid #363636;
}

.dark .card-description::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
}


.card-date {
	margin: 5px 0;
	font-size: 0.7rem;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.6);
}


.dark .card-title {
	color: #fefefe;
}

.dark .card-description {
	color: #fefefe;
}


.dark .card-date {
	color: rgba(255, 255, 255, 0.8);
}

.btn-container {
	display: flex;
	justify-content: space-between;
	min-height: 30px;
}

.card .edit-btn,  .card .delete-btn, .card .fav-btn {
    visibility: hidden;
	border: none;
	background-color: transparent;
	font-size: 1.2rem;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
	transition: ease-in-out 0.2s;
}

.card .fav-btn {
	color: #ff5757;
}

.card .fav-btn:hover {
	color: #f03b3b;
}


.card .delete-btn{
    color: rgb(222, 85, 85);
}

.card .delete-btn:hover{
    color: rgb(208, 57, 57);
}

.card .edit-btn{
    color: rgba(36, 36, 36, 0.7)
}

.card .edit-btn:hover{
    color: rgba(36, 36, 36, 1)
}


.dark .card .edit-btn{
    color: rgba(245, 245, 245, 0.7)
}

.dark .card .edit-btn:hover{
    color: #ffffff
}

.card:hover .edit-btn, .card:hover .delete-btn, .card:hover .fav-btn {
    visibility: visible;
}




/* Form */ 
.form-popup {
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
    justify-content: center;
    align-items: center;
	
}

.form-popup-inner {
	background-color: white;

	position: relative;
    margin: auto;
	width: 40%;

/*
	margin: auto;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	*/
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	
}

.dark .form-popup-inner {
	background-color: #242424;
}

.my-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: center;
	background-color: #fefefe;
}

.dark .my-form {
	color: #fefefe;
	background-color: #242424;
}

.my-form > input {
	width: 100%;
	padding: 2px;
	margin: 5px;
	line-height: 2rem;
	text-indent: 0.2rem;
	border-radius: 7px;
	border: 0.5px solid rgba(0, 0, 0, 0.6);
	background-color: #fefefe;
	font-size: 1rem;
}

.my-form > input:focus {
	outline: none;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}

.dark .my-form > input:focus {
	outline: none;
	box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 0.2);
}

.dark .my-form > input {
	background-color: #c1c1c1;
}

.my-form > label {
	margin: 10px 1px 1px 5px;
	font-size: 1.1rem;
	font-weight: 700;
}

.my-form > label > span {
	font-weight: 200;
}

#img-file {
	border: none;
	background-color: transparent;
	color: black;
	padding: 0;
	text-indent: 0;
	cursor: pointer;
}

#img-file:focus {
	box-shadow: none;
}

.dark #img-file {
	color: white;
}

.my-form > input::file-selector-button {
	background-color: transparent;
	color: #242424;
	border: 1px solid #242424;
	font-weight: bolder;
	font-size: 0.9rem;
	padding: 0.5rem 0.9rem;
	letter-spacing: .05rem;
	border-radius: 7px;
	cursor: pointer;
	transition: ease 0.2s;
	margin-right: 15px;
}

.dark .my-form > input::file-selector-button {
	background-color: #c1c1c1;
	border: 1px solid #c1c1c1;
}


.my-form > input::file-selector-button:hover {
	background-color: #e3b66b;
	border: 1px solid #e3b66b;
}


.form-btns {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.form-btns > .add {
	margin: 5px;
	margin-top: 20px;
	background-color: #e3b66b;
	color: #242424;
	border: 1px solid #e3b66b;
	font-weight: bolder;
	font-size: 0.9rem;
	padding: 0.5rem 0.9rem;
	letter-spacing: .05rem;
	border-radius: 7px;
	cursor: pointer;
	transition: ease 0.2s;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}


.form-btns > .cancel {
	margin: 5px;
	margin-top: 20px;
	color: #e3b66b;
	background-color: #242424;
	border: 1px solid #242424;
	font-weight: bolder;
	font-size: 0.9rem;
	padding: 0.5rem 0.9rem;
	letter-spacing: .05rem;
	border-radius: 7px;
	cursor: pointer;
	transition: ease 0.2s;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

.form-btns > .add:hover {
	color: #e3b66b;
	background-color: #242424;
	border: 1px solid #242424;

}

.form-btns > .cancel:hover {
	background-color: #e3b66b;
	color: #242424;
	border: 1px solid #e3b66b;

}

.dark .form-btns > .add {
	border: 1px solid #e3b66b;
}

.dark .form-btns > .cancel {
	border: 1px solid #e3b66b;
}

.my-form .error-msg {
	color: rgb(222, 85, 85);
	margin: 0 0 5px 5px;
	padding: 10px 25px;
	background-color:rgba(222, 85, 85, 0.1);
	border-left: 6px solid rgb(222, 85, 85);
	
}

.my-form .error-msg > h6 {
	margin: 0;
	margin-bottom: 5px;
	text-align: left;
	color: rgb(222, 85, 85);
	font-size: 1.1rem;
	
}

.my-form .error-msg > p {
	font-size: 1rem;
	margin: 0;
	color: #0b0b0b;
}

.dark .my-form .error-msg > p {
	color: white;
}

.my-form .header {
	display: flex;
    align-items: flex-start;
    justify-content: space-between;
	width: 100%;
}

.x-btn {
	background-color: transparent;
	padding: 0;
	margin-right: 0;
	margin-left: auto;
	border: none;
	border-radius: 7px;
	display: flex;
	align-items: center;
}


.x-btn > .bx {
	font-size: 2rem;
	color: black;
}

.dark .x-btn > .bx {
	color: white;
}

/* delete popups */
.delete-popup > .form-popup-inner {
	font-size: 1.2rem;
}

.delete-popup > .form-popup-inner > h3{
	margin-top: 0;
}

.dark .delete-popup {
	color: white;
}

.delete-popup-btns > button {
	padding: 7px 12px;
	margin: 5px;
	border: 1.4px solid #242424;
	border-radius: 5px;
	font-size: 1rem;
	letter-spacing: .05rem;
	border-radius: 7px;
	cursor: pointer;
	transition: ease 0.2s;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

.delete-popup-btns > .cancel-btn {
	background-color: transparent;
}

.delete-popup-btns > .cancel-btn:hover {
	background-color: #e5e5e5;
}

.dark .delete-popup-btns > .cancel-btn {
	color: white;
	border-color: white;
}

.dark .delete-popup-btns > .cancel-btn:hover {
	background-color: #171717
}

.delete-popup-btns > .delete-btn {
	background-color: rgb(222, 85, 85);
	color: white;
	border-color: transparent;
}

.delete-popup-btns > .delete-btn:hover {
	background-color: rgb(208, 57, 57);
}

footer {
    width: 100%;
    background-color: #e5e5e5;
    padding: 5px 0;
	height: fit-content;
	display: flex;
	align-items: center;
}

.source-link {
	width: 100%;
}

.dark footer {
    background-color: #0b0b0b;
	color: white;
}

.source-link > p {
	margin: 0;
}

.source-link a {
    color: #007bff;
    text-decoration: none;
}

.source-link a:hover {
    text-decoration: underline;
}

.scroll-to-top-btn {
    position: fixed;
    bottom: 15px;
    right: 15px;
	padding: 0;
	background-color: transparent;
    display: flex;
	border: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

.scroll-to-top-btn i {
    font-size: 2.5rem;
	color: #cba563;
	transition: ease 0.2s;
}

.scroll-to-top-btn i:hover {
	color: #a78853
}



 /* Responsive */ 
@media (max-width:900px) {
	.form-popup-inner {
		width: 90%;
	}

	main {
		top: 59px;
	}

	.nav-logo > img {
		height: 25px;
	}
}

@media (max-width:830px) {
	.card {
		width: 100%;
		max-height: fit-content;
	}

	.card-img {
		max-height: none;
	}
}

@media (max-width:376px) {	
	html {
		font-size: 67%;
	}
	.nav-logo > img {
		height: 20px;
	}

	.btns-container {
		padding: 30px 10px 10px 10px;
	}

	
	.empty-album {
		margin-top: 30%;
	}
}
